#triples .subject {
    width : 33% ;
    float : left;
}

#triples .predicate {
    width : 33% ;
    float : left;
}

#triples .object {
    width : 33% ;
    float : right;
}

#map { height: 180px; }